<!DOCTYPE html>
<html>
    <head>
        <title> Solar System </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        
        <nav>
            <span class="nav-button">
                <a href="/">Home</a>
            </span>
            <span class="nav-button">
                <!--<a href="/mercury">Mercury</a>-->
                <a href="/mercury"><img src="/img/mercury-small.png" alt="Mercury"/></a>
            </span>
            <span class="nav-button">
                <!--<a href="/venus">Venus</a>-->
                <a href="/venus"><img src="/img/venus-small.png" alt="Venus"/></a>
            </span>
            <span class="nav-button">
                <!--<a href="/earth">Earth</a>-->
                <a href="/earth"><img src="/img/earth-small.png" alt="Earth"/></a>
            </span>
            <span class="nav-button">
                <!--<a href="/earth">Mars</a>-->
                <a href="/mars"><img src="/img/mars-small.png" alt="Mars"/></a>
            </span>
            
        </nav>