<%- include('partials/header.ejs') %>

<h1> Welcome to Earth!</h1>
<!--<img src="/img/earth-large.png" alt="Earth" />-->
<img src="/img/earth.gif" alt="Earth" />

<p>
    Earth is the third closest planet to the Sun, located at a distance between that of Venus and Mars.  Earth is about 94.463 million miles from the Sun that means it takes light from the Sun about 499 seconds (8.3 minutes) to reach the Earth.  The surface temperature on Earth varies by location, season, and time of day, with the coldest temperatures of about -120 degrees Fahrenheit and hottest temperatures of about 130 degrees Fahrenheit.  The Earth's atmosphere is composed of about 78% Nitrogen, 21% Oxygen, 0.93% Argon, and 0.04% Carbon dioxide, as well as trace amounts of neon, helium, methane, krypton, and hydrogen, as well as water vapor.
</p>

<%- include('partials/footer.ejs') %>