<%- include('partials/header.ejs') %>

<h1> Welcome to the Solar System Site!</h1>

<p>Click on a planet to learn more about it:</p>
<a href="/mercury"> Mercury <img src="/img/mercury-small.png"/> </a> <br />
<a href="/venus"> Venus <img src="/img/venus-small.png"/> </a> <br />
<a href="/earth"> Earth <img src="/img/earth-small.png"/> </a> <br />
<a href="/mars"> Mars <img src="/img/mars-small.png"/> </a> <br />

<br />

<img src="/img/solar_system.jpg" alt="The Solar System" />

<%- include('partials/footer.ejs') %>