<%- include('partials/header.ejs') %>

<h1> Welcome to Mars</h1>
<!--<img src="/img/earth-large.png" alt="Earth" />-->
<img src="/img/mars.gif" alt="Mars" />

<p>
    Mars is the 4th closest planet to the Sun, and is orbits at a distance from the Sun between those of Earth and Jupiter.  Mars is about 129.31 million miles from the Sun and about 66.333 million miles from Earth as of 7/19/2020.  Mars has an average temperature of -81 degrees Fahrenheit.  The atmosphere on Mars is composed primarily of carbon dioxide and some water vapor. Mars has 2 moons.  The diameter of mars is about 4,220 miles, and it orbits the Sun at about 14.5 miles per second--that's about 52,200 miles per hour.  It takes Mars about 687 Earth days to make its annual trip around the Sun. The gravity on mars is about 37.5% that of Earth.
</p>

<%- include('partials/footer.ejs') %>