<%- include('partials/header.ejs') %>

<h1> Welcome to Mercury!</h1>
<!--<img src="/img/mercury-large.png" alt="Mercury" />-->
<img src="/img/mercury.gif" alt="Mercury" />

<p>
    Mercury is the planet closest to the Sun.  Mercury is about 35.385 million miles from the Sun and about 73.292 million miles from Earth as of 7/18/2020.  During the day, the surface of Mercury can reach 800 degrees Fahrenhrit, and at night it can reach 290 degrees Fahrenheit.  Mercury has a very thin atmosphere containing hydrogen, helium, oxygen, sodium, calcium, potassium, and water vapor.  Mercury is named after the Roman messenger god of commerce, eloquence, messages, communication, and travelers.  Mercury does not have any moons or rings.  On Mercury, you would weigh 35% what you weigh on Earth.  Each day on Mercury lasts 176 Earth days, while a "year" on Mercury takes only 88 Earth days.
</p>

<%- include('partials/footer.ejs') %>