<%- include('partials/header.ejs') %>

<h1> Welcome to Venus!</h1>
<!--<img src="/img/venus-large.png" alt="Venus" />-->
<img src="/img/venus.gif" alt="Venus" />

<p>
    Venus is the second closest planet to the Sun, located at a distance between that of Mercury and Earth.  Venus is about 67.68 million miles from the Sun and about 47.839 million miles from Earth as of 7/18/2020.  The surface temperature is about 900 degrees Fahrenheit, which is hot enough to melt lead.  The atmosphere of Venus is approximately 96% carbon dioxide, 3.5% nitrogen, and less than 1% carbon monoxide, argon, sulfur dioxide, and water vapor.  The clouds of Venus are always in motion due to 224 mph winds.  Venus was named after the Roman goddess of love, beauty, desire, sex, and fertility--the Roman goddess was adapted from the Greek goddess Aphrodite.
</p>

<%- include('partials/footer.ejs') %>