body {
    /*background-color: #CBE2F6;*/
    background-color: black;
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    color: #aaf;
}

nav a:hover {
    font-size: 2em;
    transition: 0.7s;
}

nav a img:hover {
    max-width: 150%;
    width: 150%;
    transition: 0.7s;
    padding: 5%;
    padding-right: 50%;
}

nav {
    /*border: 1px solid gray;*/
    padding: 5px;
    border: 1px solid #444;
    background-color: #111;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav .nav-button {
    size: 1.5em;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
    background-color: #111;
    
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

p {
    border: 1px solid #444;
    background-color: #111;
    color: white;
    border-radius: 10px;
}
